/* Stylesheet */

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.header-container, .information-container,
.quote-container, .action-container {
    margin: 0 100px;
}

div {
    margin: 2px;
    padding: 2px;
    border: 2px solid red;
}



/* Header */

.header {
    background-color: #1F2937;
    margin: 0;
}

.header-bar {
    display: flex;
    justify-content: space-between;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.link-list {
    list-style-type: none;

    display: flex;
    gap: 20px;
}

a:link, a:visited, a:hover, a:active {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.header-content {
    display: flex;
}

.header-content-text {
    width: 50%;
}

.header-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;

    padding: 5px 20px;
    
    border: 1px solid white;
    border-radius: 5px;
}

/* Information Block */

.information-header-text {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;

    text-align: center;
}

.image-container {
    display: flex;
}

/* Quote Block */

.quote {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    font-weight: 900;
    text-align: end;
}

/* Call-to-Action Block */

.action {
    padding: 50px 0;
}

.action-container {
    background-color: #3882F6;

    display: flex;
    justify-content: space-around;
}

.action-header {
    color: #F9FAF8;
}

.action-text {
    color: #F9FAF8;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;

    padding: 5px 20px;
    
    border: 1px solid white;
    border-radius: 5px;
}

/* Footer */

.footer {
    background-color: #1F2937;
}

.footer-text {
    color: #E5E7EB;

    text-align: center;
}